@page "{handler?}"
@using Antomi.Core.Extensions;
@model AntomiShop.Pages.Admin.Orders.IndexModel
@{
}

<div class="panel">

    <div class="panel-body">
        <div id="datatable-editable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row" style="margin-bottom:10px">
                <form method="get">
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="نام خریدار " name="filterName" style="width:100%" />
                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="جستجو" class="btn btn-success" />
                        <a class="btn btn-warning" href="/Admin/Orders">پاک کردن فیلدها</a>
                    </div>
                </form>
            </div><div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped dataTable no-footer" id="datatable-editable" role="grid" aria-describedby="datatable-editable_info">
                        <thead>
                            <tr role="row">
                                <th>خریدار</th>
                                <th>مبلغ کل</th>
                                <th>کل تخفیف</th>
                                <th>پرداختی</th>
                                <th>شیوه پرداخت</th>
                                <th>تاریخ خرید</th>
                                <th>وضعیت</th>
                                <th>آدرس</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model.Orders.Item1)
                            {
                                <tr>
                                    <td>@(order.User.FirstName+" "+order.User.LastName)</td>
                                    <td>@order.OrderSum.ToString("#,0") تومان</td>
                                    <td>
                                        @if (order.Discount == null)
                                        {
                                            <p>0 تومان</p>
                                        }
                                        else
                                        {
                                            <p>@((order.OrderSum*order.Discount.DiscountPercent/100).ToString("#,0")) تومان</p>
                                        }
                                    </td>
                                    <td>@order.PaidPrice.ToString("#,0") تومان</td>
                                    <td>@order.PaymentKind</td>
                                    <td>@order.CreateDate?.ConvertToShamsi()</td>
                                    <td>
                                        @if (order.PaymentStatus == "در انتظار")
                                        {
                                            <p class="text-warning">در انتظار</p>
                                        }
                                        else
                                        {
                                            <p class="text-success">ارسال شده</p>
                                        }
                                    </td>
                                    <td>@(order.Address.State+" "+order.Address.City+" "+order.Address.Neighborhood+" پلاک "+order.Address.Number)</td>

                                    <td class="actions">
                                        @if (order.PaymentStatus == "در انتظار")
                                        {
                                            <a onclick="GetOrderIdForAccept(@order.OrderId)" class="btn btn-success btn-xs" href="#">تایید ارسال</a>
                                        }
                                        <a onclick="GetOrderDetails(@order.OrderId)" class="btn btn-info btn-xs">آیتم ها</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div><div class="row">
                <div class="col-md-6">
                    <div class="dataTables_paginate paging_simple_numbers" id="datatable-editable_paginate">
                        <ul class="pagination">
                            @for (var i = 1; i <= Model.Orders.Item3; i++)
                            {
                                <li class="paginate_button @((i==Model.Orders.Item2)?"active":"")" aria-controls="datatable-editable" tabindex="0"><a href="/Admin/Orders?pageId=@i">@i</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: page -->
</div>
<div id="acceptModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <h3 class="modal-header">آیا مطمئنید که میخواهید این سفارش را ارسال کنید؟</h3>
            <div class="modal-body">
                <form asp-page="Index" asp-page-handler="AcceptOrder" method="post">
                    <input id="OrderIdInput" type="hidden" name="orderId" />
                    <input id="btnSubmit" type="submit" class="btn btn-danger" value="تاییدارسال" />
                    <a id="btnCancell" class="btn btn-success">انصراف</a>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="orderDetailsModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <h3 class="modal-header">آیتم های سفارش</h3>
            <div class="modal-body">
                <div id="itemsLoad">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
@section Scripts{
<script type="text/javascript">

    function GetOrderIdForAccept(orderId){
            $("#OrderIdInput").val(orderId);
            $("#acceptModal").modal('show');
        }

    $(function(){
        $("#btnCancell").click(function(){
            $("#acceptModal").modal('toggle');
        });
    });
    $(function(){
        $("#btnSubmit").click(function(){
            $("#acceptModal").modal('toggle');
        });
    });
    function GetOrderDetails(orderId){
        $("#orderDetailsModal").modal('show');
        $("#itemsLoad").load("/Admin/Orders/LoadOrderDetails?orderId="+orderId);
    }

</script>
}
