@using Antomi.Core.DTOs.Product
@using Antomi.Data.Entities.Product
@model Product
@{
    ViewData["Title"] = "نمایش محصول";
}
<div class="breadcrumbs_area mt-45">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">خانه</a></li>
                        <li>نمایش محصول</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product_page_bg">
    <div class="container">
        <div class="product_details_wrapper mb-55">
            <!--product details start-->
            <div class="product_details">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div class="product-details-tab">
                            <div id="img-1" class="zoomWrapper single-zoom">
                                <a href="#">
                                    <img id="zoom1" src="/Product/Images/@Model.ProductImageName" data-zoom-image="/Product/Images/@Model.ProductImageName" alt="big-1">
                                </a>
                            </div>
                            <div class="single-zoom-thumb">
                                <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
                                    @foreach (var image in Model.ProductImages)
                                    {
                                        <li>
                                            <a href="#" class="elevatezoom-gallery active" data-update="" data-image="/Product/ProductImages/@image.ImageName" data-zoom-image="/Product/ProductImages/@image.ImageName">
                                                <img src="/Product/ProductImages/@image.ImageName" alt="zo-th-1">
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="product_d_right">
                            <form asp-action="BuyProduct" asp-controller="Product" method="post">
                                <input type="hidden" asp-for="ProductId" />
                                <h3><a href="#"> @Model.ProductTitle </a></h3>
                                <div class="product_rating">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                        <li class="review"><a href="#">( 1 نقد و بررسی )</a></li>
                                    </ul>
                                </div>
                                <div class="price_box">
                                    <span class="old_price">80,000 تومان</span>
                                    <span class="current_price">@Model.ProductPrice.ToString("#,0") تومان</span>
                                </div>
                                @if (Model.ProductInventory.ProductCount >= 1)
                                {
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="product_variant color">
                                            <h3>گزینه های در دسترس</h3>
                                            <label>رنگ: <b id="colorName"></b></label>
                                            <br />
                                            @foreach (var color in Model.ProductColors)
                                            {
                                                <div style="background-color:@color.ColorCode; display:inline ;margin-right:10px;padding:5px; border-radius:5px">
                                                    <input class="color_Radio" type="radio" name="colorId" value="@color.ColorId">
                                                </div>
                                            }
                                        </div>
                                        <div class="product_variant quantity">
                                            <label>تعداد</label>
                                            <input min="1" max="100" value="1" name="count" type="number">
                                            <button class="button" type="submit">افزودن به سبد</button>
                                        </div>
                                        <div class="product_timing">
                                            <div data-countdown="2023/05/15"></div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="alert alert-warning">لطفا برای افزودن محصول به سبد خرید ابتدا وارد حسابتان شوید</div>
                                    }

                                }
                                else
                                {
                                    <div class="alert alert-info">این کالا در انبار وجود ندارد</div>
                                }
                                <div class="product_meta">
                                    <span>دسته: <a href="/Product?selectedGroups=@Model.GroupId">@Model.ProductGroup.GroupTitle</a></span>
                                </div>

                            </form>
                            <div class="priduct_social">
                                <ul>
                                    <li><a class="facebook" href="#" title="facebook"><i class="fa fa-facebook"></i> لایک</a></li>
                                    <li><a class="twitter" href="#" title="twitter"><i class="fa fa-twitter"></i> توییت</a></li>
                                    <li><a class="pinterest" href="#" title="pinterest"><i class="fa fa-pinterest"></i> ذخیره</a></li>
                                    <li><a class="google-plus" href="#" title="google +"><i class="fa fa-google-plus"></i> اشتراک گذاری</a></li>
                                    <li><a class="linkedin" href="#" title="linkedin"><i class="fa fa-linkedin"></i> لینکدین</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--product details end-->
            <!--product info start-->
            <div class="product_d_info">
                <div class="row">
                    <div class="col-12">
                        <div class="product_d_inner">
                            <div class="product_info_button">
                                <ul class="nav" role="tablist">
                                    <li>
                                        <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">توضیحات</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">نقد و برررسی (1)</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="info" role="tabpanel">
                                    <div class="product_info_content">
                                        <p>@Html.Raw(Model.ProductDescription)</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="reviews" role="tabpanel">
                                    <div class="reviews_wrapper">
                                        <h2>@Model.ProductComments.Count() نقد و بررسی برای این محصول</h2>
                                        <div id="commentsList" class="reviews_comment_box">
                                        </div>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <div class="comment_title">
                                                <h2>یک نقد و بررسی بنویسید </h2>
                                            </div>
                                            <div class="product_review_form">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <input id="productIdInp" type="hidden" name="productId" value="@Model.ProductId">
                                                            <label for="review_comment">نقد و بررسی شما </label>
                                                            <textarea name="commentText" id="review_comment"></textarea>
                                                        </div>
                                                    </div>
                                                    <button id="btnAddComment" type="submit">ثبت</button>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="alert alert-warning">
                                                برای ثبت نظرات خود ابتدا وارد سایت شوید
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--product info end-->
        </div>
        @{
            List<ProductBoxInformationsViewModel> relatedProducts = ViewData["RelatedProducts"] as List<ProductBoxInformationsViewModel>;
        }
        <!--product area start-->
        <section class="product_area related_products">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2>محصولات مرتبط </h2>
                    </div>
                </div>
            </div>
            <div class="product_carousel product_style product_column5 owl-carousel">
                @if (relatedProducts.Count() > 1)
                {
                    @foreach (var product in relatedProducts)
                    {
                        <partial name="_ProductBox" model="@product" />
                    }
                }
            </div>
        </section>
        <!--product area end-->
        <!--product area start-->
        <section class="product_area upsell_products">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2>محصولات پرفروش </h2>
                    </div>
                </div>
            </div>
            <div class="product_carousel product_style product_column5 owl-carousel">
                <article class="single_product">
                    <figure>

                        <div class="product_thumb">
                            <a class="primary_img" href="product-details.html"><img src="/assets/img/product/product28.jpg" alt=""></a>
                            <a class="secondary_img" href="product-details.html"><img src="/assets/img/product/product29.jpg" alt=""></a>
                            <div class="label_product">
                                <span class="label_sale">فروش</span>
                            </div>
                            <div class="action_links">
                                <ul>
                                    <li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="ion-android-favorite-outline"></i></a></li>
                                    <li class="compare"><a href="#" title="افزودن به مقایسه"><i class="ion-ios-settings-strong"></i></a></li>
                                    <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"><i class="ion-ios-search-strong"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product_content">
                            <div class="product_content_inner">
                                <h4 class="product_name"><a href="product-details.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a></h4>
                                <div class="price_box">
                                    <span class="old_price">80,000 تومان</span>
                                    <span class="current_price">70,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>
        </section>
        <!--product area end-->
    </div>
</div>
@section Scripts{
<script>

    $(function(){
        $(".color_Radio").change(function(){
           $.ajax({
                type:"get",
                url:"/GetColorName/"+$(this).val()
           }).done(function(res){
               $("#colorName").text(res);
           });
        });
    });
    $(function(){
        $("#btnAddComment").click(function(){
            $.ajax({
                type:"get",
                url:"/AddComment/"+$("#review_comment").val()+"/"+@Model.ProductId
            }).done(function(){
                $("#commentsList").load("/ShowProductComments/"+@Model.ProductId);
            });
        });
    });
    function Success(){
        $("#review_comment").val("");
    }
    $(function(){
        $("#commentsList").load("/ShowProductComments/"+@Model.ProductId);
    });
</script>

}