@page
@using Antomi.Core.Extensions;
@inject IUserService _userService;
@model AntomiShop.Pages.UserPanel.Orders.UserOrdersModel
@{
    var user = _userService.GetUserByEmail(User.Identity.Name);
    Layout = "_DefaultLayout";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>سفارشات</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="account_page_bg">
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <section class="main_content_area">
                <div class="account_dashboard">
                    <div class="row">
                        <partial name="_SideBar" />
                        <div class="col-md-9" style="background-color:white">
                            <div class="tab-content dashboard_content">
                                <div class="tab-pane fade active show" id="account-details">
                                    <h3> لیست سفارشات شما </h3>
                                    <hr />
                                    <table class="table table-striped">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>شماره فاکتور</th>
                                                <th>مبلغ کل</th>
                                                <th>تخفیف</th>
                                                <th>مبلغ پرداختی</th>
                                                <th>وضعیت</th>
                                                <th>تاریخ پرداخت</th>
                                                <th>عملیات</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var order in Model.Orders)
                                            {
                                                <tr>
                                                    <td>@order.OrderId</td>
                                                    <td>@order.OrderSum.ToString("#,0") تومان</td>
                                                    <td>
                                                        @if (order.Discount == null)
                                                        {
                                                            <p>0 تومان</p>
                                                        }
                                                        else
                                                        {
                                                            <p>@((order.OrderSum*order.Discount.DiscountPercent/100).ToString("#,0")) تومان</p>
                                                        }
                                                    </td>
                                                    <td>@order.PaidPrice.ToString("#,0") تومان</td>
                                                    <td>
                                                        @if (!order.IsFinally)
                                                        {
                                                            <p class="text-danger">پرداخت نشده</p>
                                                        }
                                                        else if (order.IsFinally && order.PaymentStatus == "در انتظار")
                                                        {
                                                            <p class="text-warning">در انتظار</p>
                                                        }
                                                        else if (order.IsFinally && order.PaymentStatus == "ارسال شده")
                                                        {
                                                            <p class="text-success">ارسال شده</p>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (order.IsFinally)
                                                        {
                                                            @order.CreateDate?.ConvertToShamsi()
                                                        }
                                                    </td>
                                                    <td>
                                                        <span class="text-danger">
                                                            @if (order.IsFinally)
                                                            {
                                                                <a asp-page="OrderDetails" asp-route-orderId="@order.OrderId" class="btn btn-info btn-sm btn-block"><b style="color:white">جزئیات سفارش</b></a>
                                                            }
                                                            else
                                                            {
                                                                @if (string.IsNullOrEmpty(user.FirstName) || string.IsNullOrEmpty(user.LastName))
                                                                {
                                                                    <a href="/UserPanel/UserInformationsConfirm?UserProfileNotConfirmed=true" class="btn btn-info btn-sm"><b style="color:white">جزئیات سفارش</b></a>
                                                                }
                                                                else if (!_userService.IsUSerHasAddress(User.Identity.Name))
                                                                {
                                                                    <a href="/UserPanel/UserAddresses?UserHasntAddress=true" class="btn btn-info btn-sm"><b style="color:white">جزئیات سفارش</b></a>
                                                                }
                                                                else
                                                                {
                                                                    <a asp-page="OrderDetails" asp-route-orderId="@order.OrderId" class="btn btn-info btn-sm"><b style="color:white">جزئیات سفارش</b></a>
                                                                }
                                                                <a class="removeAddress btn btn-danger btn-sm" title="حذف سفارش" onclick="GetOrderId(@order.OrderId)"><b style="color:white">حذف سفارش</b></a>
                                                            }
                                                        </span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>

<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>آیا مطمئنید که می خواهید این سفارش را حذف کنید؟</h5>
            </div>
            <form method="post" asp-page="UserOrders" asp-page-handler="DeleteOrder">
                <div class="modal-body">
                    <p>
                        <input id="orderId" type="hidden" name="orderId" />
                        <input id="btnDeleteOrder" type="submit" class="btn btn-danger" value="حذف سفارش" />
                        <a id="btnCancell" class="btn btn-success">انصراف</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">

    function GetOrderId(orderId){
        $("#deleteModal").modal('show');
        $("#orderId").val(orderId);
    };

    $(function(){
        $("#btnCancell").click(function(){
            $("#deleteModal").modal('toggle');
        })
    });
    $(function(){
        $("#btnDeleteOrder").click(function(){
            $("#deleteModal").modal('toggle');
        })
    });
</script>